@* @model IEnumerable<Product>
 *@

 @model IEnumerable<ProductWeb.Models.Product>


<div class="row">

    @foreach (var item in Model)
    {
        //ปรับการ์ด
        var Price50 = item.Price + item.Price * .5;
        <div class="col-12 col-lg-6 col-xl-4 col-xxl-4">
            <div class="card mb-3  border-secondary">
                @* text-white bg-secondary *@
                <h3 class="card-header">@item.Id</h3>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    @*             <h6 class="card-subtitle text-muted">      @Html.DisplayFor(modelItem => item.Category.Name)</h6> *@
                </div>

                <img src="@item.ImageUrl"
                     class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                @*   <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text> *@
                <img />

                <div class="card-body">
                    <p>
                        List Price:<strike><b>$@Price50.ToString("0.00")</b></strike>
                    </p>
                </div>
                <div class="pl-1">
                    <p>
                        As low as: <b>$@item.Price.ToString("0.00")</b>
                    </p>
                </div>

                <div class="card-body">
                    <a asp-action="Details" asp-route-productId="@item.Id" class=" card-link btn btn-primary w-100">Detail</a>
                </div>

            </div>
        </div>

    }

</div>


